//! **************************************************************************
// Written by: Map P.58f on Sat Jul 01 22:16:50 2017
//! **************************************************************************

SCHEMATIC START;
COMP "rx" LOCATE = SITE "A16" LEVEL 1;
COMP "tx" LOCATE = SITE "B16" LEVEL 1;
COMP "clk" LOCATE = SITE "L15" LEVEL 1;
COMP "LED0" LOCATE = SITE "U18" LEVEL 1;
COMP "LED1" LOCATE = SITE "M14" LEVEL 1;
COMP "LED2" LOCATE = SITE "N14" LEVEL 1;
COMP "LED3" LOCATE = SITE "L14" LEVEL 1;
COMP "LED4" LOCATE = SITE "M13" LEVEL 1;
COMP "LED5" LOCATE = SITE "D4" LEVEL 1;
COMP "LED6" LOCATE = SITE "P16" LEVEL 1;
NET "clkop/clkin1" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

